.background {
    height: 100vh;
    width: 100vw;
    z-index: -2;
    background-size: cover;
    background-position: center;
}

#pop_up {
    height: 60vh;
    width: 60vw;
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.3);
    /* opacity: 0.3; */
    backdrop-filter: blur(3px);
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 20vw;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#pop_up_content {
    width: 50vw;
    font-size: 1.5em;
    margin-bottom: 3vh;
    text-align: center;
    font-weight: normal;
}

.buttons_container {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.fake_header {
    width: 100vw;
    height: 8vh;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.2;
    /* backdrop-filter: blur(250px); */
}

.wrapper {
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(8px);
}

.search_section {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.back_button {
    height: 5vh;
    width: max-content;
    color: white;
    font-size: 1.9vh;
    text-align: center;
    padding: 0 1vw;
    background: #3D429C;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    margin-right: 2.5vw;
    cursor: pointer;
}

.arrow {
    height: 1.5vh;
    margin-right: 1vw;
}

.search_bar {
    height: 5vh;
    width: 20vw;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(3px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
    outline: none;
    color: #3c3c3c;
    padding-left: 2vw;
    border: none;
}

.search_bar:focus {
    outline: darkgray;
}

.box {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rounded_box {
    height: 70vh;
    width: 70vw;
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.3);
    /* opacity: 0.3; */
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    margin-top: 9vh;
}

.book_img {
    height: 60vh;
    /* width: 20vw; */
    margin-left: 5vw;
    border-radius: 10px;
}

.book_content {
    height: 60vh;
    /* width: 40vw;
    margin-left: 10vw; */
    display: flex;
    padding-left: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#book_heading {
    /* width: 40vw; */
    font-size: 1.5em;
    font-weight: bold;
    /* font-size: 32px; */
    line-height: 39px;
    margin-bottom: 2vh;
    max-width: 30vw;
    text-align: center;
    cursor: pointer;
}

#book_author {
    /* width: 40vw; */
    font-size: 1em;
    font-weight: lighter;
    /* font-size: 18px; */
    /* line-height: 21px; */
    color: #444444;
    margin-bottom: 1vh;
}

.book_publisher_container {
    /* width: 40vw; */
    font-size: 1em;
    font-weight: lighter;
    color: #444444;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
}

#book_publisher {
    font-weight: bold;
    color: #4658D0;
    /* color: #3D429C; */
    margin-left: 1vw;
    cursor: pointer;
}

.book_price_container {
    display: flex;
    margin-bottom: 3vh;
    /* width: 40vw; */
}

#book_new_price {
    margin-right: 1vw;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 21px;
    /* identical to box height */
    color: #FF596B;
}

#book_old_price {
    margin-right: 1vw;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #3C3C3C;
}

#discount {
    font-weight: 300;
    font-size: 0.8em;
    height: 100%;
    line-height: 26px;
    color: #3C3C3C;
}

.button_container {
    /* width: 40vw; */
    display: flex;
    margin-bottom: 1.5vh;
}

.button_container>div {
    width: max-content;
}

@media(max-width:600px) {
    #pop_up {
        width: 80vw;
        left: 10vw;
    }
    #pop_up_content {
        width: 70vw;
        margin-top: 4vh;
    }
    .buttons_container {
        width: 70vw;
        font-size: 1.25em;
    }
    .buttons_container>div {
        padding: 1.3vh 4vw;
        font-size: 1em;
    }
    .rounded_box {
        width: 80vw;
        height: 75vh;
        flex-direction: column;
        padding-bottom: 3vh;
        margin-top: 16vh;
    }
    .book_img {
        height: auto;
        width: 40vw;
        margin-left: 0;
        margin-top: 5vh;
    }
    .book_content {
        padding-left: 0;
        height: max-content;
        margin-top: 2vh;
    }
    #book_heading {
        font-size: 1em;
        font-weight: bold;
        /* font-size: 32px; */
        line-height: 0;
        margin-bottom: 2vh;
        max-width: 70vw;
    }
    .book_publisher_container {
        margin-bottom: 1vh;
    }
    .book_price_container {
        width: 70vw;
        margin-bottom: 2vh;
        justify-content: space-evenly;
    }
    .book_price_container>div {
        font-size: 1em;
    }
}