body {
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('assets/fonts/ARIAL.woff') format('woff');
}

.frost {
    width: 100vw;
    height: 300vh;
    position: absolute;
    left: 0;
    z-index: -2;
}

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #B993D6 0%, #8CA6DB 100%);
    box-shadow: 14px 17px 17px rgba(7, 7, 7, 0.14);
    z-index: -1;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 300vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(14px);
    z-index: 1;
}

.wrapper div {
    z-index: 1;
}

.header {
    width: 100vw;
    height: 10vh;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 173px;
    height: 20px; */
    width: 20vw;
    height: 10vh;
    left: 0px;
    top: 26px;
}

.icon {
    width: 30px;
    height: 20px;
    left: 5vw;
    top: calc(5vh - 10px);
    background: url('assets/icon.png');
    margin-right: 10px;
}

.icon_name {
    left: 13.75%;
    right: 76.88%;
    top: 36.11%;
    bottom: 36.11%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0ch;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings: 'liga' off;
    color: #000000;
}

.login_button_container {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 109px;
    height: 44px;
    left: 1177px;
    top: 14px;
    background: #3D429C;
    border-radius: 28px;
    cursor: pointer;
}

.button_text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    font-feature-settings: 'liga' off;
    /* Default / White */
    color: #FFFFFF;
}

.landing {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

.landing_svg {
    position: absolute;
    left: 0;
    width: 100vw;
    right: 0;
    /* transform: scaleY(.75); */
}

.about {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}