html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('assets/fonts/ARIAL.woff') format('woff');
}

.frost {
    width: 100vw;
    height: 300vh;
    position: absolute;
    left: 0;
    top: -150vh;
    z-index: -2;
}

.frost2 {
    width: 100vw;
    height: 230vh;
    position: absolute;
    left: 0;
    top: 100vh;
    z-index: -2;
}

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #B993D6 0%, #8CA6DB 100%);
    box-shadow: 14px 17px 17px rgba(7, 7, 7, 0.14);
    z-index: -1;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 330vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(14px);
    z-index: 1;
}

.wrapper div {
    z-index: 1;
}

.header {
    width: 100vw;
    height: 8vh;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 173px;
    height: 20px; */
    width: 20vw;
    height: 10vh;
    left: 0px;
    top: 26px;
    cursor: pointer;
}

.icon {
    height: 7vh;
    left: 5vw;
    top: 1vh;
    margin-right: 10px;
}

.icon_name {
    left: 13.75%;
    right: 76.88%;
    top: 36.11%;
    bottom: 36.11%;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0ch;
    line-height: 20px;
    /* identical to box height, or 143% */
    font-feature-settings: 'liga' off;
    color: #000000;
}

.login_button_container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
}

.button, .button_inverse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1.5vh 2vw 1.5vh 2vw;
    width: fit-content;
    height: auto;
    top: 14px;
    background: #3D429C;
    border-radius: 28px;
    cursor: pointer;
    font-size: 16px;
    /* line-height: 20px; */
    /* identical to box height, or 125% */
    text-align: center;
    font-feature-settings: 'liga' off;
    border: 2px solid #3D429C;
    /* Default / White */
}

.button_inverse {
    background-color: transparent;
    color: #3D429C;
}

.button:hover {
    background-color: transparent;
    color: #3D429C;
}

/* 
.button_inverse:hover {
    background-color: #3D429C;
    color: white;
} */

.landing {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_svg {
    position: absolute;
    left: 0;
    width: 100vw;
    right: 0;
    opacity: 0;
    transition: all 0.2s ease;
    /* transform: scaleY(.75); */
}

.landing_text {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-top: -22vh;
    z-index: 3;
}

.landing_text div {
    z-index: 3;
}

.main_heading {
    width: 50vw;
    min-height: 10vh;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    margin-top: 12.5vh;
    font-weight: lighter;
}

.big_icon_container {
    width: 50vw;
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
}

.big_icon {
    height: 10vh;
}

.vbbf {
    font-weight: 900;
    font-size: 3.5em;
    /* line-height: 69px; */
    width: 90vw;
    text-align: center;
    color: #ee307a;
}

.date {
    width: 50vw;
    text-align: center;
    font-weight: bold;
    font-size: 2.75em;
    line-height: 56px;
}

.about {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
}

.about_text_container {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_heading {
    width: 35vw;
    text-align: left;
    margin-left: 8vw;
    font-weight: bold;
    font-size: 2em;
    line-height: 39px;
    margin-bottom: 4vh;
}

.about_text {
    width: 35vw;
    text-align: left;
    margin-left: 8vw;
    font-weight: normal;
    font-size: 1em;
    line-height: 179.9%;
}

.about_button {
    width: 35vw;
    margin-left: 8vw;
    margin-top: 4vh;
}

.about_button>div {
    padding-left: 2vw;
    padding-right: 2vw;
}

.about_button>div:hover {
    background-color: #3D429C;
}

.button>a {
    color: white;
    text-decoration: none;
}

.about_pics {
    width: 50vw;
    height: 100vh;
}

.images {
    float: left;
    width: 35vw;
    margin-top: 10vh;
}

#publishers {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.publishers_heading_container {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publishers_heading {
    padding: 1.5vh 3vw 1.5vh 3vw;
    /* background: linear-gradient(180deg, rgb(255, 128, 8, 0.8) 0%, rgb(255, 200, 55, 0.8) 100%); */
    backdrop-filter: blur(3px);
    background: rgba(250, 250, 250, 0.1);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 160px;
    color: #3D429C;
    border: #3D429C 2px solid;
    text-align: center;
    font-weight: bold;
    font-size: 1.35em;
    line-height: 30px;
    box-shadow: 3px 9px 20px 1px #00000026;
}

.publishers_grid_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.publishers_flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 22vh;
}

.stalls {
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
}

.stalls_image {
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    cursor: pointer;
}

.stalls_heading {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
    cursor: pointer;
    /* line-height: 29px; */
    margin-top: 0.5vh;
}

.footer {
    width: 100vw;
    height: 32vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(3px);
}

.left_footer {
    height: 30vh;
    width: 30vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_logo {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_bits_logo {
    height: 8vh;
}

.footer_links {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3vh;
}

.footer_links a {
    text-decoration: none;
    font-size: 1em;
    margin-right: 1vw;
    font-weight: lighter;
    color: black;
    cursor: pointer;
}

.copyright {
    width: 30vw;
    font-weight: lighter;
    font-size: 0.9em;
    margin-top: 3vh;
    line-height: 24px;
    /* identical to box height, or 171% */
    font-feature-settings: 'liga' off;
    color: #4F4F4F;
}

.right_footer {
    height: 30vh;
    width: 30vw;
    /* margin-right: 10vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_us_heading {
    font-size: 1.6em;
    width: 20vw;
    font-weight: normal;
    margin-bottom: 3vh;
}

.contact_us_links_container {
    margin-bottom: 1vh;
    width: 20vw;
    display: flex;
}

.contact_us_links_container a {
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    cursor: pointer;
}

.mail_icon {
    height: 1em;
    margin-right: 0.5vw;
    cursor: pointer;
}

@media(max-width:600px) {
    .logo {
        width: max-content;
        padding-left: 3vw;
        margin-top: 1vh;
    }
    .login_button_container {
        padding-right: 5vw;
        /* padding-top: 1vh; */
        max-width: 50vw;
        margin-top: 2.5vh;
    }
    .main_heading {
        width: 100vw;
        font-size: 1.9em;
        /* line-height: 51px; */
        text-align: center;
        margin-top: 18vh;
    }
    .vbbf {
        font-size: 2em;
        margin-top: 3vh;
    }
    .big_icon {
        margin-top: 3vh;
        height: 15vh;
    }
    .date {
        width: 100vw;
        text-align: center;
        font-weight: bolder;
        font-size: 1.75em;
        line-height: 56px;
    }
    .about {
        display: block;
    }
    .publishers_heading {
        font-size: 1em;
        line-height: 20px;
        padding: 2vh 3.5vw 1.5vh 3.5vw;
    }
    .publishers_grid_container {
        justify-content: flex-start;
        /* padding-top: vh; */
    }
    .stalls {
        height: 22vw;
    }
    .stalls_image {
        height: 21vw;
        width: 21vw;
    }
    .stalls_heading {
        font-size: 1em;
    }
    .footer_links a {
        margin-right: 3vw;
    }
    .copyright {
        width: 40vw;
        font-weight: lighter;
        font-size: 0.7em;
        margin-top: 3vh;
        margin-left: 10vw;
        line-height: 15px;
    }
    .left_footer {
        margin-left: 5vw;
    }
    .right_footer {
        width: 40vw;
    }
    .contact_us_heading {
        font-size: 1.3em;
        width: 40vw;
    }
    .contact_us_links_container {
        width: 40vw;
    }
    .contact_us_links_container a {
        font-size: 0.9em;
    }
}