.login_button_container {
    width: 20vw;
}

#login_button {
    display: none;
}

.back_button {
    margin-left: 5vw;
    margin-top: 10vh;
}

.orders_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.back_section {
    width: 11vw;
    height: 100vh;
}

.orders_container {
    margin-top: 5vh;
    width: 70vw;
    height: 75vh;
    background: rgba(250, 250, 250, 0.5);
    /* opacity: 0.3; */
    backdrop-filter: blur(3px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    padding: 2.5vh 4vw 2.5vh 4vw;
}

.orders_heading {
    width: 62vw;
    display: flex;
    flex-direction: row;
}

.orders, .recommended {
    font-size: 2em;
    font-weight: bold;
    color: #3d429c;
    cursor: pointer;
    margin-right: 3vw;
}

.recommended {
    opacity: 0.4;
    transform: scale(0.9);
}

.ordered_books_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.headings_container {
    width: 100%;
    display: flex;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.headings {
    font-size: 1em;
    font-weight: bold;
}

.items {
    width: 25vw;
}

.seller {
    width: 15vw;
}

.description {
    width: 25vw;
}

.prices {
    width: 10vw;
}

.items_container {
    border-top: 0.05px solid rgb(193 193 193 / 36%);
    border-bottom: 0.05px solid rgb(193 193 193 / 36%);
    height: 70%;
    width: 100%;
    overflow-y: scroll;
}

.books {
    width: 100%;
    height: max-content;
    border-top: 0.05px solid rgb(193 193 193 / 36%);
    border-bottom: 0.05px solid rgb(193 193 193 / 36%);
    display: flex;
}

.books>div {
    text-align: left;
    display: flex;
    font-weight: lighter;
    font-size: 0.95em;
    /* justify-content: center; */
    align-items: center;
    padding: 4vh 2vw 4vh 0;
    overflow-wrap: anywhere;
}

/* .books_items {
    height: 20vh;
    width: 25vw;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
}

.books_img {
    height: 20vh;
    border-radius: 10px;
    margin-right: 3vw;
} */

.books_title {
    width: 23vw;
    cursor: pointer;
}

.books_seller {
    width: 13vw;
    height: 100%;
    color: #3d429c;
    cursor: pointer;
    font-weight: bold !important;
}

.books_old_price {
    width: 8vw;
    height: 100%;
    text-decoration-line: line-through;
    color: #3C3C3C;
    font-weight: bold !important;
}

.books_new_price {
    height: 100%;
    color: #FF596B;
    font-weight: bold !important;
}

.books_description {
    width: 23vw;
    overflow: hidden;
}

.final_price_container {
    width: 100%;
    align-items: right;
    margin-top: 3vh;
    padding-left: 38vw;
    display: flex;
    font-size: 1.1em;
}

.final_price {
    margin-left: 4vw;
    font-weight: bold;
    color: #FF596B;
}